LOG_FILE_PATH=tmp/projects.log
LOG_LEVEL=DEBUG
LOG_FORMAT=<level>{level: <8}</level> <green>{time:YYYY-MM-DD HH:mm:ss.SSS}</green> - <cyan>{name}</cyan>:<cyan>{function}</cyan> - <level>{message}</level>
LOG_ROTATION=10 days
LOG_RETENTION=1 months

MONGODB_URI=mongodb://mongos1:27017,mongos2:27017
MD_DB_NAME=TEST1
MD_DB_HOST=0.0.0.0
MD_DB_PORT=27017
MD_DB_USER=devops
MD_DB_PASS=qwerty

MD_DB_NAME=TEST2
MD_DB_HOST=0.0.0.0
MD_DB_PORT=27017
MD_DB_USER=devops
MD_DB_PASS=qwerty

JWT_SECRET_KEY=test-secret
JWT_ALGORITHM=HS256

DEBUG=True

SENTRY_DSN=https://0687df3d7eef5995ed6b59377692711f@o4507584677478400.ingest.de.sentry.io/4507584685342800